/*
* @Author: Administrator
* @Date:   2017-11-05 02:38:30
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-05 02:38:33
*/

/*
SubMenu
https://codepen.io/philhoyt/pen/ujHzd
SUBMENU

 */
#primary-nav {
    margin-top: 0;
}

#primary-nav ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#primary-nav ul a {
    display: block;
    color: #777;
    text-decoration: none;
}

#primary-nav ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#primary-nav ul li.current-menu-item {
    background: #ddd
}

#primary-nav ul li:hover {
    background: #f6f6f6
}

#primary-nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #D1D1D1;
    padding: 0
}

#primary-nav ul ul li {
    float: none;
    width: 200px;
    z-index: 3;
}

#primary-nav ul ul a {
    line-height: 120%;
    padding: 10px 15px
}

#primary-nav ul ul ul {
    top: 0;
    left: 100%
}

#primary-nav ul li:hover > ul {
    display: block
}

.pure-menu {
    border-bottom: none;
}

#primary-nav {
    border-bottom: 1px solid #eee;
    height: 3em;
}
