/*
* @Author: Administrator
* @Date:   2017-11-04 23:27:39
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-05 01:18:32
*/

/*
based on
https://codepen.io/renatorib/pen/rlpfj

 */

/* Component Needs */
.pc-tab > input, .pc-tab section > div {
    display: none;
}

#tab1:checked ~ section .tab1, #tab2:checked ~ section .tab2, #tab3:checked ~ section .tab3 {
    display: block;
}

#tab1:checked ~ nav .tab1, #tab2:checked ~ nav .tab2, #tab3:checked ~ nav .tab3 {
    color: red;
}

/* Visual Styles */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;  /*   background: #ecf0f1; */
}

.pc-tab {
    width: 100%;/*     max-width: 700px; */
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.pc-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* .pc-tab ul li {
    cursor: pointer;
} */
.pc-tab ul li label {
    float: left;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #eeeeee;
    color: #444;
    cursor: pointer;
}

.pc-tab ul li label:hover {
    background: #dddddd;
}

.pc-tab ul li label:active {
    background: #ffffff;
}

.pc-tab ul li:not(:last-child) label {
    border-right-width: 0;
}

.pc-tab section {
    clear: both;
}

.pc-tab section div {
    padding: 20px;
    width: 100%;/*     border: 1px solid #ddd; */
    background: #fff;
    line-height: 1.5em;
    letter-spacing: 0.3px;
    color: #444;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    border-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-right: none;
}

.pc-tab section div h2 {
    margin: 0;
    letter-spacing: 1px;
    color: #34495e;
}

.pc-tab nav {
    z-index: 2;
}

#tab1:checked ~ nav .tab1 label, #tab2:checked ~ nav .tab2 label, #tab3:checked ~ nav .tab3 label {
    background: white;
    color: #111;
    position: relative;
    z-index: 2;
}

#tab1:checked ~ nav .tab1 label:after, #tab2:checked ~ nav .tab2 label:after, #tab3:checked ~ nav .tab3 label:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    left: 0;
    bottom: -1px;
}
