
<aside class="pure-g">
    <address class="pure-u-1">
        <p><b>地址: 1245 FSDFDFGDG,FWERFE</p>
        <p>电话:  +1 12345678</p>
         <p>Url : <a href="//coolwp.com">coolwp.com</a></p>
    </address>
</aside>

<footer>
    2017 &copy; CoolWP.com . All rights reserved | Coded & Designed by <a href="http://coolwp.com">suifengtec</a>
</footer>